[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=rofi -show "WIFI" -modi "WIFI:iwdrofimenu"
Name=Wifi Rofi Menu
Icon=rofi
Categories=Network;RemoteAccess;GTK;
Keywords=internet;
