* {
    border: none;
    border-radius: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(41, 37, 34, 0.95);
    color: #ECE1D7;
}

#workspaces button {
    padding: 0 5px;
    color: #ECE1D7;
    /* background: transparent; */
    min-width: 10px;
    font-size: 16px;
}

#workspaces button.active {
    color: #7F91B2;
}

#workspaces button:hover {
    /* background: rgba(127, 145, 178, 0.2); */
}

#window {
    margin: 0 10px;
    color: #ECE1D7;
}

#clock {
    padding: 0 15px;
    color: #ECE1D7;
    font-weight: bold;
}

#mpris {
    padding: 0 15px;
    color: #85B695;
    background: rgba(52, 48, 44, 0.8);
    border-radius: 5px;
    margin: 0 5px;
}

#mpris.paused {
    color: #867462;
}

#tray,
#pulseaudio,
#backlight,
#language,
#battery,
#bluetooth,
#clock,
#custom-power {
    padding: 0 10px;
    margin: 0 2px;
    background: rgba(52, 48, 44, 0.8);
    border-radius: 5px;
}

#pulseaudio {
    color: #7F91B2;
}

#backlight {
    color: #EBC06D;
}

#language {
    color: #85B695;
}

#bluetooth {
    color: #89B3B6;
}

#bluetooth.disabled {
    color: #867462;
}

#custom-power {
    color: #D47766;
    font-weight: bold;
}

#custom-power:hover {
    background: rgba(212, 119, 102, 0.3);
}
