[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=зовнішній
Comment=зовнішній VGA дисплей
Type=Application
Exec=xrandr --output LVDS --off --output VGA-0 --auto
Icon=xfce4-splash
